
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1080px;
$breakpoint-xl: 1440px;

:root {
  /* 타이포그래피 */
  --ty-picktit-size: 100px;
   --ty-sctit-size: 24px;
  --ty-findtit-size:22px;
  --text-h1: 24px;
  --line-h1: 1.3; /* px 대신 비율 사용 권장 */
  --text-h2: 20px;  
  --text-h3: 16px;
  --text-body: 14px;
  --line-body: 1.5;

  /* 간격 (Spacing) - 반응형 패딩용 */
  --sp-xl: 24px;
  --sp-lg: 12px;
  --sp-md: 10px;
  --sp-sm: 8px;
}

/* Tablet (768px ~) */
@media (min-width: $breakpoint-md) {
  :root { 
    --sp-xl: 32px;
    --sp-lg: 16px;
    --sp-md: 12px;
  }
}

/* Desktop (1080px ~) - LG/XL 통합 고려 */
@media (min-width: $breakpoint-lg) {
  :root {
    --text-h1: 36px;
    --text-h2: 22px;
    --text-h3: 18px;
    --text-body: 16px;

    --sp-xl: 48px;
    --sp-lg: 24px;
    --sp-md: 16px;
  }
}

/* Wide Desktop (1440px ~) */
@media (min-width: $breakpoint-xl) {
  :root {
    --ty-picktit-size: 128px;
    --ty-sctit-size: 28px;
    --ty-findtit-size:26px;
    --text-h1: 40px;
    --text-h2: 24px; 
    --text-h3: 20px;
    --text-body: 18px;
    --sp-xl: 64px;
    --sp-lg: 32px;    
    /* 레이아웃 관련 변수는 꼭 필요한 경우에만 이곳에 남김 */
    --main-w: 640px;
    --aside-w: 590px;
    --gap-x: 200px; 
    --main-left: calc(50% - (var(--main-w) / 2));
  }
}
